# Configuración de Supabase
VITE_SUPABASE_URL=https://qoauvsouetyuqqplbfak.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_gPLFAn4uk3YzcbPiMbBPYA_bGRvncMz

# Configuración de la aplicación
VITE_APP_NAME=JF Solar Cloud
VITE_APP_VERSION=2.0.0
VITE_API_TIMEOUT=5000

# Idioma por defecto
VITE_DEFAULT_LANG=es
